@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
.NavigationItem {
    display: block;
    padding: 1em 0;
    line-height: 1.5;
    border: 0;
    a {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s ease;
        &:hover,
        &:active,
        &.active {
            color: $color-pink !important;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet + 1px) {
    .NavigationItem {
        position: relative;
        height: 3em;
        line-height: 3em;
        padding: 0 1.5em;
        // background-color: $color-bg-nav-item;
        border-radius: 4px;
        text-transform: uppercase;
        a {
            font-size: 0.8em;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
    }
}

@media (min-width: 900px) {
    .NavigationItem {
        a {
            font-size: 0.9em;
            font-weight: 900;
            letter-spacing: 0.2em;
            font-weight: 900;
            letter-spacing: 0.2em;
        }
    }
}