@import 'styles/_colors.scss';
.CartData {
    display: grid; // giving a different background color to each Category Item
    grid-template-columns: 2em 1fr 5em;
    grid-template-rows: repeat(auto, 2);
    grid-gap: 1px;
    background-color: #c9c9c9;
    padding: 1px;
    .total {
        text-align: right;
        background-color: white;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 2em 1fr 5em;
        grid-gap: 1px;
        strong {
            grid-column: 2 / 3;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        span {
            text-align: left;
            font-size: 1.2em;
            color: $color-price;
        }
        &>* {
            padding: 0.5em;
            background-color: white;
        }
    }
}