@import 'styles/_colors.scss';
.Logo {
    height: 100%;
    background-color: $color-bg-nav-item;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    min-height: 4em;
    position: relative;
    width: 100px;
    .img {
        margin-top: 8px;
        padding: 8px;
    }
}