@import 'styles/_colors.scss';
.Content {
    width: 100%;
    max-width: 68em;
    margin: 72px auto 0 auto;
    padding: 0 2.5em;
    background-color: white;
    min-height: 100vh;
}

.comingSoon {
    h2 {
        color: $color-base-dark;
        text-align: center;
    }
    .comingSoonImg {
        background-image: url(./../../assets/images/coming-soon.png);
        height: 9em;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}