@import 'styles/_colors.scss';
.MyCart {
    max-width: 600px;
    margin: auto;
    h1 {
        // text-align: center;
        color: $color-base-dark;
        padding-top: 1em;
    }
    h2 {
        text-transform: none;
        letter-spacing: normal;
        font-size: 1.5em;
        font-weight: normal;
        margin-bottom: 0;
    }
    &.noData {
        &,
        &>* {
            text-align: center;
            margin: 0 auto;
        }
        .image {
            background-image: url('./../../assets/images/panda-cry.png');
            background-size: contain;
            height: 7em;
            width: 7em;
            background-position: center;
            background-repeat: no-repeat;
            margin: 1em auto;
        }
    }
    .modalContent {
        svg {
            color: #7bd0c1;
            font-size: 7em;
        }
        h1 {
            font-size: 1.5em;
        }
        .logoText {
            background-image: url(./../../assets/images/logo-text-only.png);
            height: 2em;
            width: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 1em;
        }
    }
}

@media screen and (min-height: 500px) {
    .MyCart.noData {
        margin-top: 10em;
    }
}