@import 'styles/_colors.scss';
.BookItem {
    width: 250px; // height: 550px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    border: 1px solid #ddd;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.03);
    }
    .content {
        border: 1px solid #ddd;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        .image {
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        figure {
            margin: 0;
        }
        .title {
            overflow: hidden;
            display: inline-block;
            line-height: 18px;
            font-weight: bold;
            height: 55px;
            margin-bottom: 0;
        }
        .author {
            margin: 0px;
            color: #444;
        }
        .Rating {
            margin-top: 1em;
        }
    }
    .cartBtn {
        background-color: $color-pink;
        color: white;
        text-align: center;
        height: 50px;
        font-weight: bold;
        line-height: 50px;
        cursor: pointer;
        transition: background-color 0.5s;
        &>div {
            text-align: center;
        }
        svg {
            margin-right: 1em;
        }
        &:hover {
            background-color: $color-pink-dark;
        }
    }
}