@import 'styles/_colors.scss';
.BookItem {
    width: 250px;
    height: 500px;
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        border: 1px solid #ddd;
        .image {
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        figure {
            margin: 0;
        }
        .title {
            overflow: hidden;
            display: inline-block;
            line-height: 18px;
            font-weight: bold;
            height: 55px;
            margin-bottom: 0;
        }
        .author {
            margin: 0px;
            color: #444;
        }
        .Rating {
            margin-top: 1em;
        }
    }
    .cartBtn {
        background-color: $color-pink-dark;
        color: white;
        text-align: center;
        height: 50px;
        font-weight: bold;
        line-height: 50px;
        cursor: pointer;
        & > div {
            text-align: center;
        }
        svg {
            margin-right: 1em;
        }
    }
}